p, h1, h2, h3, h4, ul {
  margin: 0;
}

ul, li {
  list-style: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
}

.lg-container{
  width: 1440px;
  max-width: 100%;
  padding: 0 15px;
  margin: auto;

  @media #{$information-laptop}{
    width: 1200px;
  }
}