html, body{
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-size: 16px;

  @media #{$information-sm-laptop} {
    font-size: 15px;
  }

  @media #{$information-lg-tablet} {
    font-size: 14px;
  }

  @media #{$information-tablet} {
    font-size: 12px;
  }
}

a{
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}
