// Wordpress Admin bar from desktop
.admin-bar{
  #page-header{
    padding-top: 32px;

    @media #{$information-tablet}{
      padding-top: 46px;
    }

    @media #{$information-phone}{
      &.menu-scroll{
        padding-top: 0;
      }
    }
  }
}

.other-phone-layout{
  display: flex;
  justify-content: center;

  .phone-item{
    width: calc(50% - 15px);

    &:first-child{
      margin-right: 15px;
    }

    &:last-child{
      margin-left: 15px;
    }
  }

  @media #{$information-phone}{
    flex-wrap: wrap;
    padding: 0 15px;

    .phone-item{
      width: 100%;
      margin: 0;

      &:first-child{
        margin-right: 0;
        margin-bottom: 15px;
      }

      &:last-child{
        margin-left: 0;
      }
    }
  }
}