#check-imei-page{
  padding: 100px 0;

  .section-check-imei-form{
    .breadcrumb{
      background: $white;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;

      li{
        margin-right: 10px;
      }
    }

    .checking-imei-form-wrapper{
      width: 420px;
      max-width: 100%;
      margin: auto;

      .form-control{
        height: 54px;
        line-height: 54px;

        &::-webkit-input-placeholder { /* Edge */
          color: #999;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #999;
        }

        &::placeholder {
          color: #999;
        }

        &:hover{
          border-color: $main-color;
        }
      }

      .capcha-holder{
        padding: 20px 0;
        text-align: center;
      }

      .change-capcha{
        line-height: 30px;
        margin-top: 12px;
        display: inline-block;
        cursor: pointer;

        &:hover{
          color: $main-color;
        }
      }

      .submit-imei{
        width: 50%;
        margin: 25px auto 0;
        background-color: $main-color;
        color: #676C72;
        border: none;
        height: 54px;
        line-height: 54px;
        font-size: 18px;
        font-weight: 600;
        cursor:pointer;

        &:active{
          background-color: darken($main-color, 5%);
        }
      }

      .result-form{
        margin-top: 20px;

        .imei-result{
          padding: 0 30px;

          .result-row{
            display: flex;
            font-size: 18px;

            .name{
              flex-basis: 50%;

              &:after{
                content: ':';
              }
            }
          }
        }
      }
    }
  }
}