#support-page {
  .support__banner {
    @include flex();
    align-items: center;
    justify-content: center;
    background: url('../img/support-banner.jpg') no-repeat center;
    background-size: cover;
    height: count-vw(720);
    max-height: 720px;
    color: #fff;
    text-align: center;

    h1 {
      font-size: count-vw(70);
      font-weight: bold;
    }
  }

  .support__title {
    font-size: pxtorem(20);
    font-weight: 300;
    margin-bottom: 55px;

    h2 {
      font-size: pxtorem(45);
      position: relative;
      font-weight: 300;
      margin-bottom: 28px;

      &:after {
        content: '';
        display: block;
        width: 66px;
        height: 3px;
        background-color: #000;
        margin: 13px auto 0;
      }
    }
  }

  .support__online {
    padding: 118px 0;

    .clearfix {
      @include flex();
    }

    a {
      width: calc((100% - 80px)/5);
      @include flex();
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      border: 2px solid #cccccc;
      border-radius: 20px;
      margin-right: 20px;
      padding: 2% 0;
      font-size: pxtorem(20);
      color: #6d6e71;
      font-weight: 300;

      @media #{$information-sm-phone} {
        font-size: 12px;
      }

      &:hover {
        opacity: .8;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        display: block;
        margin-bottom: 5px;
        width: 27.3%;
        max-width: 60px;
      }
    }
  }

  .support__contact {
    padding-bottom: 140px;

    .clearfix {
      @include flex();
      text-align: center;
    }

    a {
      background-color: #ebebeb;
      width: 50%;
      display: block;
      text-align: center;
      margin-right: 20px;
      padding: 8% 0;
      font-weight: 300;
      &:last-child {
        margin-right: 0;
      }

      object {
        display: block;
        margin: 0 auto 20px;
        height: 50%;
        max-height: 43px;
      }
    }
  }

  @media #{$information-laptop}{
    .support__online {
      padding: 80px 0;
    }

    .support__contact {
      padding-bottom: 100px;
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-lg-tablet}{
    .support__online {
      a {
        font-size: 1rem;
        margin-right: 10px;
        width: calc((100% - 40px)/5);
      }
    }
  }

  @media #{$information-tablet}{
    .support__banner {
      height: 335px;
      background-image: url('../img/support-banner-sp.jpg');

      h1 {
        font-size: 25px;
      }
    }

    .support__title {
      font-size: 13px;
      margin-bottom: 35px;

      h2 {
        font-size: 25px;
        margin-bottom: 23px;

        &:after {
          width: 45px;
        }
      }
    }

    .support__online {
      padding: 43px 8px;

      .clearfix {
        flex-flow: wrap;
      }

      a {
        margin: 0 7px 15px;
        width: calc((100% - 28px)/2);
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;
        min-height: 125px;
        padding-top: 28px;

        &:last-child {
          margin: 0 7px;
          width: 100%;
        }
        img {

          width: 40px;
        }
      }
    }

    .support__contact {
      padding-bottom: 50px;

      .clearfix {
        flex-direction: column;
      }

      a {
        width: 100%;
        margin-right: 0;
        @include flex();
        height: 180px;
        padding: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:first-child {
          background-color: #d7d7d7;
        }

        &:last-child {
          margin-right: 0;
        }

        object {
          height: 35px;
          margin-bottom: 10px;
        }
      }
    }
  }

  @media #{$information-sm-phone}{
    .support__online {
      a {
        font-size: 12px;
      }
    }
  }
}