#qa-document{
  padding: 100px 0 100px;

  .title{
    font-size: 2.25em;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 50px;
  }

  .question-layout-holder{
    display: flex;
    align-items: flex-start;

    .category-block{
      width: 30%;
      flex-basis: 30%;
      flex-shrink: 0;

      .category-list{
        .category-item{
          font-size: 1.3em;
          font-weight: 700;
          color: #4a4a4a;
          transition:all 150ms ease-in;
          margin-bottom: 18px;
          line-height: 40px;
          cursor: pointer;

          &.active{
            color: $main-color;
            transition:all 100ms ease-out;

            &:hover{
              opacity: 1;
            }
          }

          &:hover{
            opacity: 0.8;
            transition:all 100ms ease-out;
          }
        }
      }
    }

    .question-answer-block{
      flex: 1;

      .question-answer-list{
        display: none;

        &.active{
          display: block;
        }

        .question-item{
          border-bottom: 1px solid #aaa;

          .question{
            padding-right: 60px;
            color: #4a4a4a;
            position: relative;

            .context{
              height: 62px;
              line-height: 62px;
              font-size: 17px;
              display: block;
            }

            .question-toggler{
              height: 62px;
              width: 62px;
              line-height: 62px;
              display: block;
              position: absolute;
              right: 0;
              top: 0;
              font-size: 22px;
              text-align: center;
              cursor:pointer;

              .fa{
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                transition: all ease-in 150ms 10ms;
              }

              &:hover{
                .fa{
                  color: $main-color;
                }
              }
            }
          }

          .answer{
            padding: 18px 70px 60px 30px;
            color: #676c73;
            font-size: 16px;
            line-height: 28px;
            text-align: justify;
            display: none;
          }

          &.active{
            .question{
              font-weight: 600;

              .question-toggler{
                .fa{
                  -webkit-transform: rotate(0);
                  transform: rotate(0);
                  transition: all ease-out 150ms 10ms;
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$information-laptop}{
  padding: 80px 0 80px;

  .title{
    font-size: 2em;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 40px;
  }

  .question-layout-holder{
    .category-block{
      .category-list{
        .category-item{
          font-size: 1.2em;
          margin-bottom: 15px;
          line-height: 35px;
        }
      }
    }

    .question-answer-block{
      .question-answer-list{
        .question-item{
          .question{
            padding-right: 40px;

            .context{
              height: 52px;
              line-height: 52px;
              font-size: 16px;
            }

            .question-toggler{
              height: 52px;
              width: 52px;
              line-height: 52px;
              font-size: 18px;
            }
          }

          .answer{
            padding: 15px 60px 50px 15px;
            color: #676c73;
            font-size: 15px;
            line-height: 28px;
          }
        }
      }
    }
  }
}

  @media #{$information-sm-laptop}{
    padding: 60px 0 100px;

    .title{
      font-size: 1.8em;
    }

    .question-layout-holder{
      .category-block{
        .category-list{
          .category-item{
            font-size: 1.15em;
            margin-bottom: 15px;
            line-height: 30px;
          }
        }
      }
    }
  }

  /* === RESPONSIVE === */
  @media #{$information-tablet}{
    padding: 60px 0;

    .title{
      font-size: 2em;
      margin-bottom: 30px;
    }

    .question-layout-holder{
      flex-wrap: wrap;

      .category-block{
        width: 100%;
        flex-basis: 100%;
        flex-shrink: 0;

        .category-list{
          .category-item{
            font-size: 1.2em;
            margin-bottom: 15px;
            line-height: 30px;
          }
        }
      }

      .question-answer-block{
        flex: 1;

        .question-answer-list{
          .question-item{
            .question{
              padding-right: 50px;

              .context{
                line-height: 50px;
                font-size: 15px;
              }

              .question-toggler{
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 20px;
              }
            }

            .answer{
              padding: 15px 50px 40px 20px;
              font-size: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    padding: 30px 0;

    .title{
      font-size: 1.75em;
      margin-bottom: 25px;
    }

    .question-layout-holder{

      .category-block{
        .category-list{
          .category-item{
            font-size: 1.15em;
            margin-bottom: 13px;
            line-height: 24px;
          }
        }
      }

      .question-answer-block{
        .question-answer-list{
          .question-item{
            .question{
              padding-right: 50px;
              display: flex;
              align-items: center;
              min-height: 50px;

              .context{
                line-height: 20px;
                height: auto;
                font-size: 13px;
              }

              .question-toggler{
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 18px;
              }
            }

            .answer{
              padding: 13px 30px 25px 15px;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  @media #{$information-sm-phone}{
    padding: 30px 0;

    .title{
      font-size: 1.75em;
      margin-bottom: 20px;
    }

    .question-layout-holder{

      .category-block{
        .category-list{
          .category-item{
            font-size: 1.2em;
            margin-bottom: 14px;
            line-height: 26px;
          }
        }
      }

      .question-answer-block{
        .question-answer-list{
          .question-item{
            .question{
              padding-right: 50px;
              display: flex;
              align-items: center;
              min-height: 50px;

              .context{
                line-height: 20px;
                font-size: 12px;
              }

              .question-toggler{
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 15px;
              }
            }

            .answer{
              padding: 10px 20px 20px 13px;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}