#realme-5-hot-sale-page {
  .section-img-news{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;

    .lg-container{
      width: 1600px;
      max-width: 100%;
      margin: auto;
      position: relative;
    }


    .news-slider-wrapper{
      .news-slider{
        display: flex;
        justify-content: space-between;

        .news-item{
          flex-shrink: 0;
          border: 2px solid $white;
          padding: 20px 22px 30px;
          border-radius: 15px;
          background-color: rgba(black, 0.25);

          .thumbnail-holder{
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            .img-holder{
              min-height: 200px;
            }
          }

          .news-content{
            .news-title{
              color: $text-yellow;
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 10px;
            }

            .news-date{
              color: $white;
              font-weight: 700;
              margin-bottom: 10px;
            }

            .news-excerpt{
              color: $white;
              height: 130px;
            }
          }
        }
      }
    }

    .gallery-slider-wrapper{
      margin-top: 120px;

      .title{
        font-size: 36px;
        color: $white;
        font-weight: 700;
        text-align: center;
        margin-bottom: 60px;
      }

      .photo-slider-wrapper{
        padding: 30px 0;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.5) 85%, rgba(0,0,0,0) 100%);

        .photo-slider{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .img-item{
            width: 24%;
            flex-basis: 24%;
            flex-shrink: 0;
          }
        }
      }

      &.camera-taken-slider{
        padding-bottom: 120px;
      }
    }

    // Slick Slider
    .slick-slide {
      margin: 0 10px;
    }

    .slick-control{
      width: 70px;
      height: 70px;
      background-color: transparent;
      position: absolute;
      top: calc(50% - 35px);
      border: 2px solid $white;
      border-radius: 35px;
      z-index: 2;
      outline: none;
      cursor: pointer;

      &:after{
        content: '';
        width: 26px;
        height: 26px;
        border: 2px solid $white;
        display: block;
        position: absolute;
        top: 20px;
        -webkit-transform: translate(0, 0) rotate(45deg);
        transform: translate(0, 0) rotate(45deg);
      }

      &.slick-next{
        right: -70px;

        &:after{
          border-left: none;
          border-bottom: none;
          left: 15px;
        }
      }

      &.slick-prev{
        left: -70px;

        &:after{
          border-right: none;
          border-top: none;
          right: 15px;
        }
      }

      &:hover{
        border-color: $text-yellow;

        &:after{
          animation: arrowMoving 500ms infinite;
          border-color: $text-yellow;
        }
      }
    }
  }

  @media (max-width: 1680px){
    .section-img-news {
      .lg-container {
        width: 1400px;
      }
    }
  }

  @media (max-width: 1540px){
    .section-img-news {
      .lg-container {
        width: 1200px;
      }
    }
  }

  @media #{$information-sm-laptop}{
    .section-img-news {
      .lg-container {
        width: 1080px;
      }
    }
  }

  /* === Responsize === */
  @media #{$information-tablet}{
    .section-img-news{
      padding-top: 80px;

      .news-slider-wrapper{
        .news-slider{
          .news-item{
            flex-shrink: 0;
            border: 2px solid $white;
            padding: 20px 22px 30px;
            border-radius: 15px;
            background-color: rgba(black, 0.25);

            .thumbnail-holder{
              height: 170px;
              margin-bottom: 10px;

              .img-holder{
                min-height: 170px;
              }
            }

            .news-content{
              .news-title{
                font-size: 18px;
              }

              .news-date{
                font-size: 16px;
                margin-bottom: 10px;
              }

              .news-excerpt{
                font-size: 16px;
                height: 100px;
              }
            }
          }
        }
      }

      .gallery-slider-wrapper{
        margin-top: 80px;

        .title{
          font-size: 32px;
          margin-bottom: 20px;
        }

        .photo-slider-wrapper{
          padding: 30px 0;
          width: 86%;
          margin: auto;
          background-image: none;
        }

        &.camera-taken-slider{
          padding-bottom: 80px;
        }
      }

      // Slick Slider
      .slick-slide {
        margin: 0 10px;
      }

      .slick-control{
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        border: none;
        border-radius: 25px;
        z-index: 2;
        outline: none;
        cursor: pointer;

        &:after{
          content: '';
          width: 26px;
          height: 26px;
          border: 2px solid $white;
          top: 12.5px;
          -webkit-transform: translate(0, 0) rotate(45deg);
          transform: translate(0, 0) rotate(45deg);
        }

        &.slick-next{
          right: -50px;

          &:after{
            left: 12px;
          }
        }

        &.slick-prev{
          left: -50px;

          &:after{
            right: 12px;
          }
        }
      }
    }
  }

  @media #{$information-phone}{
    .section-img-news{
      padding-top: 60px;

      .news-slider-wrapper{
        width: 80%;
        margin: auto;

        .news-slider{
          .news-item{
            padding: 15px 20px 20px;
            border-radius: 15px;

            .thumbnail-holder{
              height: 150px;

              .img-holder{
                min-height: 150px;
              }
            }

            .news-content{
              .news-title{
                font-size: 16px;
              }

              .news-date{
                font-size: 14px;
                margin-bottom: 8px;
              }

              .news-excerpt{
                font-size: 14px;
                height: 90px;
              }
            }
          }
        }
      }

      .gallery-slider-wrapper{
        margin-top: 60px;

        .title{
          font-size: 26px;
          margin-bottom: 10px;
        }

        .photo-slider-wrapper{
          padding: 20px 0;
          width: 80%;
        }

        &.camera-taken-slider{
          padding-bottom: 60px;
        }
      }

      // Slick Slider
      .slick-slide {
        margin: 0 10px;
      }

      .slick-control{
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        border: none;
        border-radius: 20px;
        z-index: 2;
        outline: none;
        cursor: pointer;

        &:after{
          content: '';
          width: 26px;
          height: 26px;
          border: 2px solid $white;
          top: 10px;
          -webkit-transform: translate(0, 0) rotate(45deg);
          transform: translate(0, 0) rotate(45deg);
        }

        &.slick-next{
          right: -30px;

          &:after{
            left: 12px;
          }
        }

        &.slick-prev{
          left: -30px;

          &:after{
            right: 12px;
          }
        }
      }
    }
  }

  @media #{$information-sm-phone}{
    .section-img-news{
      padding-top: 50px;

      .news-slider-wrapper{
        width: 80%;

        .news-slider{
          .news-item{
            padding: 13px 15px 17px;
            border-radius: 13px;

            .thumbnail-holder{
              height: 140px;

              .img-holder{
                min-height: 140px;

                img{
                  min-height: 140px;
                  max-width: 115%;
                }
              }
            }

            .news-content{
              .news-title{
                font-size: 14px;
              }

              .news-date{
                font-size: 12px;
                margin-bottom: 5px;
              }

              .news-excerpt{
                font-size: 12px;
                height: 90px;
              }
            }
          }
        }
      }

      .gallery-slider-wrapper{
        margin-top: 50px;

        .title{
          font-size: 20px;
          margin-bottom: 5px;
        }

        .photo-slider-wrapper{
          padding: 20px 0;
        }

        &.camera-taken-slider{
          padding-bottom: 50px;
        }
      }

      // Slick Slider
      .slick-slide {
        margin: 0 10px;
      }

      .slick-control{
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        border-radius: 20px;

        &:after{
          content: '';
          width: 22px;
          height: 22px;
          top: 5px;
        }

        &.slick-next{
          right: -10px;

          &:after{
            left: 12px;
          }
        }

        &.slick-prev{
          left: -10px;

          &:after{
            right: 12px;
          }
        }
      }
    }
  }
}