<!doctype html>
<!-- html主题 主要做默认字体引用区分-->
<html lang="en-IN" class="lang-en">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://static.realme.net">
    <link rel="dns-prefetch" href="https://image01.realme.net">
    <link rel="dns-prefetch" href="https://api.realme.com">
    <link rel="dns-prefetch" href="https://r1.realme.net">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="no">
    <meta name="full-screen" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,shrink-to-fit=no">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://image01.realme.net/general/20190919/1568863509778.jpg" />
    <meta name="twitter:image" content="https://image01.realme.net/general/20190919/1568863514422.jpg" />
    <meta name="twitter:card" content="summary" />

    <link rel="preload" href="font/OpenSans-Regular.ttf" as="font" type="font/ttf"
          crossorigin="">
    <link rel="preload" href="font/OpenSans-Semibold.ttf" as="font" type="font/ttf"
          crossorigin="">


    <!--[if gte IE 9]>
    <script type="text/javascript">
        window.location.href = 'https://www.realme.com/in/unresponsive'
    </script>
    <![endif]-->

    <!-- SEO相关 -->

    <title>realme 5 Pro Photographs - realme (India)</title>
    <meta name="keywords" content="realme, realme 5 Pro, realme 5 Pro features,realme 5 Pro Photographs">
    <meta name="description" content="Realme 5 Pro Mobile Phone Exquisite Atlas, let you fully understand the product details of realme 5 Pro, feel the unique transcendental charm of realme 5 Pro.">


    <link rel="canonical" href="https://www.realme.com/in/realme-5-pro/photograph" />
    <link rel="alternate" hreflang="x-default" href="https://www.realme.com/in/realme-5-pro/photograph" />
    <link rel="alternate" hreflang="en-IN" href="https://www.realme.com/in/realme-5-pro/photograph" />
    <link rel="alternate" hreflang="en-ID" href="https://www.realme.com/id/realme-5-pro/photograph" />

    <script>var ww = 768 < window.innerWidth ? 1200 : window.innerWidth, fontBase = 360; 768 < ww && (fontBase = 1200); var fontSize = 100 * ww / fontBase, defaultSize = window.getComputedStyle(document.documentElement).getPropertyValue("font-size"), targetSize = fontSize / parseFloat(defaultSize) * 100 + "%"; document.documentElement.style.fontSize = targetSize</script>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="css/index-9d0af3b124.css">

    <!-- 页面样式 -->
    <link rel="stylesheet" href="css/index-6c7d56bfae.css">
</head>

<body>

<!-- 公共导航 -->
<header class="header">
    <div class="wrapper">
        <a rel="nofollow" href="javascript:;" class="menu-fold gtag" data-gtag="header|fold"><span class="icon icon-menu"></span></a>
        <a href="https://www.realme.com/in/" class="logo gtag" data-gtag="header|logo" title="realme">
            <span class="icon icon-logo"></span>
        </a>
        <nav class="nav">
            <ul class="nav-menu">


                <li>

                    <a href="https://www.realme.com/in/realme-xt" target="" class="gtag" data-gtag="header|realme XT"
                       title="realme XT">realme XT</a>

                </li>


                <li>

                    <a rel="nofollow" href="javascript:;" class="nav-group" target="">Phones<span class="icon icon-arrow-right"></span></a>
                    <div class="nav-submenu">
                        <div class="nav-submenu-wrapper">
                            <ul class="">


                                <li>
                                    <a href="https://www.realme.com/in/realme-xt" target="" class="gtag"
                                       data-gtag="header|sub_realme XT" title="realme XT">
                                        <div class="nav-submenu-img">
                                            <label>New</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190913/1568362321878.png"
                                                 alt="realme XT" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">New</span>
                                            <span class="nav-submenu-title">realme XT</span>
                                            <span class="nav-submenu-price">₹15,999</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-5" target="" class="gtag"
                                       data-gtag="header|sub_realme 5" title="realme 5">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190820/1566283386815.png"
                                                 alt="realme 5" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme 5</span>
                                            <span class="nav-submenu-price">₹8,999</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-5-pro" target="" class="gtag"
                                       data-gtag="header|sub_realme 5 Pro" title="realme 5 Pro">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190820/1566283484548.png"
                                                 alt="realme 5 Pro" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme 5 Pro</span>
                                            <span class="nav-submenu-price">₹13,999</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-3i" target="" class="gtag"
                                       data-gtag="header|sub_realme 3i" title="realme 3i">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190730/1564484022328.png"
                                                 alt="realme 3i" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme 3i</span>
                                            <span class="nav-submenu-price">₹7,999</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-c2" target="" class="gtag"
                                       data-gtag="header|sub_realme C2" title="realme C2">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190703/1562171756416.png"
                                                 alt="realme C2" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme C2</span>
                                            <span class="nav-submenu-price">₹5,999</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme3" target="" class="gtag"
                                       data-gtag="header|sub_realme 3" title="realme 3">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190731/1564591122387.png"
                                                 alt="realme 3" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme 3</span>
                                            <span class="nav-submenu-price">₹8,499</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-phones#phones" target="" class="gtag"
                                       data-gtag="header|sub_More Phones" title="More Phones">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190711/1562832290570.png"
                                                 alt="More Phones" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">More Phones</span>
                                            <span class="nav-submenu-price"></span>
                                        </div>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>

                </li>


                <li>

                    <a rel="nofollow" href="javascript:;" class="nav-group" target="">Accessories<span class="icon icon-arrow-right"></span></a>
                    <div class="nav-submenu">
                        <div class="nav-submenu-wrapper">
                            <ul class="">


                                <li>
                                    <a href="https://buy.realme.com/in/goods/132" target="" class="gtag"
                                       data-gtag="header|sub_realme Power Bank" title="realme Power Bank">
                                        <div class="nav-submenu-img">
                                            <label>New</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190913/1568363257126.png"
                                                 alt="realme Power Bank" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">New</span>
                                            <span class="nav-submenu-title">realme Power Bank</span>
                                            <span class="nav-submenu-price">₹1,299</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-buds-wireless" target="" class="gtag"
                                       data-gtag="header|sub_realme Buds Wireless" title="realme Buds Wireless">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190913/1568360352661.png"
                                                 alt="realme Buds Wireless" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme Buds Wireless</span>
                                            <span class="nav-submenu-price">₹1,599</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://buy.realme.com/in/goods/144" target="" class="gtag"
                                       data-gtag="header|sub_realme XT Iconic Case" title="realme XT Iconic Case">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190913/1568363310103.png"
                                                 alt="realme XT Iconic Case" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme XT Iconic Case</span>
                                            <span class="nav-submenu-price">₹399</span>
                                        </div>
                                    </a>
                                </li>



                                <li>
                                    <a href="https://buy.realme.com/in/goods/130" target="" class="gtag"
                                       data-gtag="header|sub_realme Buds 2" title="realme Buds 2">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190820/1566291060130.png"
                                                 alt="realme Buds 2" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme Buds 2</span>
                                            <span class="nav-submenu-price">₹599</span>
                                        </div>
                                    </a>
                                </li>







                                <li>
                                    <a href="https://buy.realme.com/in/goods/133" target="" class="gtag"
                                       data-gtag="header|sub_realme Tote Bag" title="realme Tote Bag">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190820/1566291074338.png"
                                                 alt="realme Tote Bag" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme Tote Bag</span>
                                            <span class="nav-submenu-price">₹1,199</span>
                                        </div>
                                    </a>
                                </li>













                                <li>
                                    <a href="https://buy.realme.com/in/goods/126" target="" class="gtag"
                                       data-gtag="header|sub_realme Micro-USB Cable" title="realme Micro-USB Cable">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190802/1564769620281.png"
                                                 alt="realme Micro-USB Cable" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">realme Micro-USB Cable</span>
                                            <span class="nav-submenu-price">₹199</span>
                                        </div>
                                    </a>
                                </li>


                                <li>
                                    <a href="https://www.realme.com/in/realme-phones#accessories" target="" class="gtag"
                                       data-gtag="header|sub_More Accessories" title="More Accessories">
                                        <div class="nav-submenu-img">
                                            <label>&nbsp;</label>
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://image01.realme.net/general/20190802/1564739468838.png"
                                                 alt="More Accessories" class="nav-lazyload" />
                                        </div>
                                        <div class="nav-submenu-info">
                                            <span class="nav-submenu-type">&nbsp;</span>
                                            <span class="nav-submenu-title">More Accessories</span>
                                            <span class="nav-submenu-price"></span>
                                        </div>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>

                </li>


                <li>

                    <a href="https://www.realme.com/in/brand" target="" class="gtag" data-gtag="header|Brand"
                       title="Brand">Brand</a>

                </li>


                <li>

                    <a href="https://www.realme.com/in/support" target="" class="gtag" data-gtag="header|Support"
                       title="Support">Support</a>

                </li>


                <li>

                    <a href="https://c.realme.com/in/" target="" class="gtag" data-gtag="header|Community"
                       title="Community">Community</a>

                </li>


                <li>

                    <a href="https://www.realme.com/in/app-download" target="" class="gtag" data-gtag="header|App"
                       title="App">App</a>

                </li>


                <li>

                    <a href="" target="" class="gtag" data-gtag="header|" title=""></a>

                </li>


            </ul>
        </nav>
        <div class="nav-right">

            <a class="nav-search"><span class="icon icon-search"></span></a>


            <a rel="nofollow" href="javascript:;" class="nav-user gtag" data-gtag="header|user"><span class="icon icon-user"></span></a>

        </div>

        <div class="search-bar" id="search-bar">
            <div class="search-container">
                <div class="search-input-container">
                    <i class="icon icon-close left"></i>
                    <input type="text" placeholder="" class="search-input" data-domain="https://www.realme.com/in"
                           maxlength="30" autofocus="">
                    <i class="icon icon-search right to-search"></i>
                    <div class="search-action to-search"><span>Search</span></div>
                </div>
                <div class="hot-search">
                    <div class="hot-title hot-item">Hot Search</div>
                    <ul class="hot-item">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>

<a class="header-notify gtag" href="https://event.realme.com/in/realme-festive-days/" data-gtag="header|notify" target="">
    <div class="wrapper">
        <p>Up to ₹500 Coupon Rain on APP everyday!  Exclusive Website Offers: Extra 1 year warranty, ICICI Bank, Cashify Exchange, No Cost EMI by Bajaj Finserv, Paytm UPI &#38; MobiKwik ! *TCA</p>
        <span class="icon icon-notify-close gtag" data-gtag="header|notify_close"></span>
    </div>
</a>


<section class="product-nav">
    <div class="wrapper">
        <div class="product-nav-svg">
            <img src="img/realme-fivePro-43bd607058.svg" alt="realme 5 Pro svg format">
        </div>
        <div class="product-nav-list">
            <ul>
                <li>
                    <a href=".." title="realme 5 Pro Overview" class="">Overview</a>
                </li>
                <li>
                    <a href="../specs" title="realme 5 Pro Specs" class="">Specs</a>
                </li>
                <li>
                    <a href="#" title="realme 5 Pro Photographs"
                       class="active">Photo</a>
                </li>
                <li>
                    <a href="https://buy.realme.com/in/rpass-check" title="realme 5 Pro R-Pass">R-Pass</a>
                </li>
            </ul>
        </div>
        <a href="https://buy.realme.com/in/goods/129" class="product-nav-btn gtag" data-gtag="realme-5pro|nav_btn" title="Buy Now">Buy Now</a>
    </div>
</section>
<div class="realme-x-photographs">
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/01@3x-12a322c227.jpg" media="(max-width: 768px)">
      <source srcset="img/1-99f0ae5d3a.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/02@3x-2b3754d628.jpg" media="(max-width: 768px)">
      <source srcset="img/2-0132316d30.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/03@3x-50b409dbf7.jpg" media="(max-width: 768px)">
      <source srcset="img/3-c94e44addc.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/04@3x-148ed272ef.jpg" media="(max-width: 768px)">
      <source srcset="img/4-21a8a64ce4.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/05@3x-b68e0dbe04.jpg" media="(max-width: 768px)">
      <source srcset="img/5-07d0e4b1c4.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/06@3x-4350be2dd5.jpg" media="(max-width: 768px)">
      <source srcset="img/6-3a7346ed29.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/07@3x-8c99ce308f.jpg" media="(max-width: 768px)">
      <source srcset="img/7-928bfe758c.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/08@3x-dead383c9e.jpg" media="(max-width: 768px)">
      <source srcset="img/8-e280ef77fb.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/09@3x-f6407dfcc0.jpg" media="(max-width: 768px)">
      <source srcset="img/9-396de46937.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/10@3x-cf933ae71c.jpg" media="(max-width: 768px)">
      <source srcset="img/10-a154edd281.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/11@3x-8ad462107d.jpg" media="(max-width: 768px)">
      <source srcset="img/11-4356f7f8ce.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
    <section class="sec sec-photograph-item">
    <span class="pic-lazyload">
      <source srcset="img/m/12@3x-3232c85eda.jpg" media="(max-width: 768px)">
      <source srcset="img/12-b81b747c05.jpg" media="(min-width: 769px)">
      <img srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="realme 5 Pro photographs">
    </span>
    </section>
</div>


<!-- 公共底部 -->
<footer class="footer">
    <div class="footer-services">
        <div class="wrapper">
            <div class="footer-service">
                <span class="icon icon-s-freeshipping"></span>
                <span>Free shipping</span>
            </div>
            <div class="footer-service">
                <span class="icon icon-s-payment"></span>
                <span>Secure payment</span>
            </div>
            <div class="footer-service">
                <span class="icon icon-s-cod"></span>
                <span>COD</span>
            </div>
            <div class="footer-service">
                <span class="icon icon-s-online2"></span>
                <span>Online Service</span>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="footer-menus">
            <div class="wrapper">
                <div class="footer-menu">
                    <div class="footer-menu-title">Recommend<span class="icon icon-plus"></span></div>
                    <ul class="footer-menu-list">
                        <li>
                            <a href="https://www.realme.com/in/realme-xt" title="realme XT">realme XT</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-5" title="realme 5">realme 5</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-5-pro" title="realme 5 Pro">realme 5 Pro</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-x" title="realme X">realme X</a>
                        </li>
                        <li class="indiscernible">
                            <a href="https://www.realme.com/in/realme-x-master" title="realme X Master Edition">realme X Master Edition</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-3i" title="realme 3i">realme 3i</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-3-pro" title="realme 3 Pro">realme 3 Pro</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme-c2" title="realme C2">realme C2</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/realme3" title="realme 3">realme 3</a>
                        </li>
                        <li class="indiscernible">
                            <a href="https://www.realme.com/in/realme-u1" title="realme U1">realme U1</a>
                        </li>
                        <li class="indiscernible">
                            <a href="https://www.realme.com/in/realme-c1" title="realme C1">realme C1</a>
                        </li>
                        <li class="indiscernible">
                            <a href="https://www.realme.com/in/realme2-pro" title="realme 2 Pro">realme 2 Pro</a>
                        </li>
                        <li class="indiscernible">
                            <a href="https://www.realme.com/in/realme2" title="realme 2">realme 2</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-title">Support<span class="icon icon-plus"></span></div>
                    <ul class="footer-menu-list">
                        <li>
                            <a href="https://www.realme.com/in/support/faq" title="Support FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/support/troubleshooting" title="Support Troubleshooting">Troubleshooting</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/support#user-guid" title="Support User Guide">User Guide</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/support/services" title="Support Service Centers">Service Centers</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-title">About realme<span class="icon icon-plus"></span></div>
                    <ul class="footer-menu-list">
                        <li>
                            <a href="https://www.realme.com/in/brand" title="Our Brand">Our Brand</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/brand#news" title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                            <a href="https://partner.realme.com/#/login" title="R-Partner">R-Partner</a>
                        </li>
                        <li>
                            <a href="https://www.realme.com/in/store-address" title="Store Address">Store Address</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu-title">Contact realme<span class="icon icon-plus"></span></div>
                    <ul class="footer-menu-list">
                        <li>
                            <a rel="nofollow" href="mailto:service@realme.com" title="email for service">service@realme.com</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="mailto:orders.in@realme.com" title="email for order service">orders.in@realme.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-contact">
            <div class="footer-contact-phone"><a href="tel:400-628-0066" rel="nofollow">1800 102 2777</a></div>
            <div class="footer-contact-time">09:00-21:00, MON - SUN</div>
            <div class="footer-contact-online"><a href="javascript:;" onclick="openSupportChat()" rel="nofollow" target="_blank"
                                                  title="chat support"><span class="icon icon-chat"></span>CHAT SUPPORT</a></div>
            <div class="footer-contact-time">09:00-18:00, MON - SUN</div>
            <div class="footer-socials">
                <a rel="nofollow" href="https://www.facebook.com/realmeIndia/" class="footer-social" target="_blank" title="realme facebook"><span
                    class="icon icon-facebook"></span></a>
                <a rel="nofollow" href="https://twitter.com/realmemobiles" class="footer-social" target="_blank" title="realme twitter"><span
                    class="icon icon-twitter"></span></a>
                <a rel="nofollow" href="https://www.youtube.com/realmemobiles" class="footer-social" target="_blank" title="realme youtube"><span
                    class="icon icon-youtube"></span></a>
                <a rel="nofollow" href="https://www.instagram.com/realmeindia/" class="footer-social" target="_blank" title="realme instagram"><span
                    class="icon icon-instagram"></span></a>
            </div>
        </div>
    </div>
    <div class="footer-region"><a rel="nofollow" href="javascript:;">India ( English / INR )</a></div>
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="copyright">
                &copy; 2019 realme. All Rights Reserved.
            </div>
            <div class="footer-legal">
                <a href="https://www.realme.com/in/legal/user-agreement" title="realme User Agreement">User Agreement</a>
                <a href="https://www.realme.com/in/legal/privacy-policy" title="realme Privacy Policy">Privacy Policy</a>
                <a href="https://www.realme.com/in/legal/terms-sales" title="realme Terms of Sales">Terms of Sales</a>
                <a href="https://www.realme.com/in/legal/warranty-terms" title="realme Warranty Terms">Warranty Terms</a>
            </div>
        </div>
        <div class="wrapper">
            <p class="footer-announce">
                <span>REALME MOBILE TELECOMMUNICATIONS (INDIA) PRIVATE LIMITED</span><i class="footer-br-pc footer-br-m"></i><span>Address:
          3rd Floor, Tower-B, Building Number 8, DLF Cyber City, Gurugram-122002, Haryana, India</span><span class="footer-line">|</span><span>Corporate
          Identification
          Number(CIN)：U32301HR2018PTC076011</span>
            </p>
        </div>
    </div>
</footer>
<div class="mask"></div>
<div class="nav-submenu-panel"></div>
<div class="header-account">
    <div class="wrapper">
        <div class="header-account-panel">
            <ul>
                <li class="header-item">
                    <a rel="nofollow" href="https://buy.realme.com/in/cart" data-href="https://buy.realme.com/in/cart" id="cart" title="Cart"><span
                        class="icon icon-cart"></span>Cart&nbsp;<span id="account-cart"></span></a>
                </li>
                <li class="header-item">
                    <a rel="nofollow" href="https://id.realme.com?callback=https://buy.realme.com/in/orders" data-href="https://buy.realme.com/in/orders"
                       title="My Orders"><span class="icon icon-order"></span>My
                        Order</a>
                </li>
                <li class="header-item">
                    <a rel="nofollow" href="https://id.realme.com?callback=https://buy.realme.com/in/coupons" data-href="https://buy.realme.com/in/coupons"
                       title="coupons"><span class="icon icon-coupon"></span>Coupon</a>
                </li>
                <li class="header-item">
                    <a rel="nofollow" href="https://id.realme.com?callback=https://buy.realme.com/in/rpass" data-href="https://buy.realme.com/in/rpass"
                       title="R-Pass"><span class="icon icon-rpass"></span>R-Pass</a>
                </li>
                <li class="header-item">
                    <a rel="nofollow" href="https://id.realme.com?callback=https://id.realme.com/profile.html" data-href="https://id.realme.com/profile.html"
                       title="Account"><span class="icon icon-userinfo"></span>Account</a>
                </li>
                <li class="header-item">
                    <a rel="nofollow" href="https://id.realme.com?callback=https://buy.realme.com/in/address" data-href="https://buy.realme.com/in/address"
                       title="Address"><span class="icon icon-address"></span>Address</a>
                </li>
                <li>
                    <a href="#" id="accountLogin" data-login="https://id.realme.com" data-logout="https://id.realme.com/logout.html" title="Login & Logout"><span
                        class="icon icon-register"></span><label>Login</label></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    //echat 在线客服代码 开始
    var _echatServer = ['en.rainbowred.com'];
    window._echat = window._echat || function () { (_echat.q = _echat.q || []).push(arguments) }; _echat.l = +new Date;
    _echat('initParam', { companyId: 51, routeEntranceId: '16' });
    (function () {
        var echat = document.createElement('script');
        echat.type = 'text/javascript';
        echat.async = true;
        echat.id = 'echatmodulejs';
        echat.setAttribute('charset', 'UTF-8');
        echat.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'ens.rainbowred.com/visitor/echat.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(echat, s);
    })();
    //echat 在线客服代码 结束

    //判断访客端媒介代码 结束
    function openSupportChat() {
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            ECHAT.customMiniChat()
        } else {
            ECHAT.customNewWinChat()
        }
    }
</script>

<style>
    .footer-announce {
        color: #999;
        font-size: .12rem;
        margin-top: .25rem;
        line-height: .2rem;
    }

    .footer-announce i.footer-br-pc {
        display: block;
    }

    .footer-line {
        margin: 0 5px;
    }


    @media screen and (max-width: 768px) {
        .footer-announce {
            font-size: .08rem;
            line-height: .12rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .footer-announce span {
            margin-bottom: .12rem;
        }

        .footer-announce i.footer-br-pc {
            display: none;
        }

        .footer-line {
            display: none;
        }
    }
</style>
<div class="region-select">
    <div class="region-select-container">
        <a href="javascript:;" rel="nofollow" class="region-select-close"></a>
        <div class="region-select-content">
            <div class="region-select-title">Choose your market</div>
            <div class="region-select-desc">Products may have different prices and availability based on market</div>
            <div class="region-select-item">
                <div class="region-select-subtitle">Asia-Pacific</div>
                <ul>
                    <li>
                        <a href="https://www.realme.com/in/" title="realme in India">India</a>
                        <label>English</label>
                        <span>INR</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/id/" title="realme in Indonesia">Indonesia</a>
                        <label>Bahasa</label>
                        <span>IDR</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/vn/" title="realme in Vietnam">Vietnam</a>
                        <label>Việt Nam</label>
                        <span>VND</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/th/" title="realme in Thailand">Thailand</a>
                        <label>ภาษาไทย</label>
                        <span>THB</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/my/" title="realme in Malaysia">Malaysia</a>
                        <label>English</label>
                        <span>MYR</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/ph/" title="realme in Philippines">Philippines</a>
                        <label>English</label>
                        <span>PHP</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/cn/" title="realme in Mainland China">Mainland China</a>
                        <label>简体中文</label>
                        <span>CNY</span>
                    </li>
                    <!-- <li>
                      <a href="https://www.realme.com/tw/" title="realme in Taiwan">Taiwan China</a>
                      <label>繁体中文</label>
                      <span>TWD</span>
                    </li> -->
                    <li>
                        <a href="https://www.realme.com/sg/" title="realme in Singapore">Singapore</a>
                        <label>English</label>
                        <span>SGD</span>
                    </li>
                </ul>
            </div>
            <div class="region-select-item">
                <div class="region-select-subtitle">Europe</div>
                <ul>
                    <li>
                        <a href="https://www.realme.com/eu/" title="realme in Europe">Europe</a>
                        <label>English</label>
                        <span>EUR</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/es/" title="realme in Spain">Spain</a>
                        <label>Español</label>
                        <span>EUR</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/ru/" title="realme in Russia">Russia</a>
                        <label>Русский язык</label>
                        <span>RUB</span>
                    </li>
                </ul>
            </div>

            <div class="region-select-item">
                <div class="region-select-subtitle">Other Regions</div>
                <ul>
                    <li>
                        <a href="https://www.realme.com/global/" title="realme in Global">Global</a>
                        <label>English</label>
                        <span>USD</span>
                    </li>
                    <li>
                        <a href="https://www.realme.com/eg/" title="realme in Egypt">Egypt</a>
                        <label> لغة عربية </label>
                        <span>EGP</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="js/index-231879dfb5.js"></script>


<!-- 小程序专用代码 -->

<!-- 页面脚本 -->


<script async="" src="js/index-f6628bce14.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122876026-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122876026-1');
</script>


<script async src="https://www.googletagmanager.com/gtag/js?id=DC-9461223"></script>
<script>
    gtag('config', 'DC-9461223');
    var isResultUrl = window.location.href.indexOf('buy.realme.com/in/payment-result') > 0
    if (isResultUrl) {
        gtag('event', 'conversion', {
            'allow_custom_scripts': true,
            'send_to': 'DC-9461223/invmedia/realm001+standard'
        });
    } else {
        gtag('event', 'conversion', {
            'allow_custom_scripts': true,
            'send_to': 'DC-9461223/invmedia/realm000+standard'
        });
    }
</script>

<!-- Facebook Pixel Code -->

<script>

    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?

                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };

        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

        n.queue = []; t = b.createElement(e); t.async = !0;

        t.src = v; s = b.getElementsByTagName(e)[0];

        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',

        'https://connect.facebook.net/en_US/fbevents.js');


    fbq('init', '482036032648108');

    fbq('track', 'PageView');

</script>

</body>
</html>
