.section-playground-2{
  padding: 0;

  .main-playground{
    padding-top: 90px;

    &.screen-1{
      padding-bottom: 300px;
    }

    @media #{$information-phone}{
      padding-top: 10px;

      &.screen-1{
        padding-bottom: 100px;
      }
    }
  }

  .game-wrapper{
    overflow: hidden;
    position: relative;
    margin-top: 40px;

    .game-overlay{
      position: absolute;
      height: 100%;

      img{
        height: 100%;
      }
    }

    .target-list{
      flex-wrap: wrap;
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      .target-item{
        width: 25%;
        flex-basis: 25%;
        position: relative;
        text-align: center;
        cursor: pointer;
        margin: 0 0 -8px;
        background-color: $white;
        opacity: 1;
        transition: all ease-out 200ms 20ms;
        transform: rotateY(0deg) scale(1);

        .target-img{
          width: 100%;
          text-align: center;

          img{
            width: 58%;
          }
        }

        .main-img{
          position: absolute;
          background-color: $white;
          top: 18.4%;
          left: 30%;
          width: 33.5%;
          height: 65.5%;
          border-radius: 50%;
          overflow: hidden;
          transform: scale(0.7) rotateY(90deg);
          transition: all ease-in 150ms 20ms;
          opacity: 0;

          img{
            max-width: 100%;
          }
        }

        &.open{
          .main-img{
            transition: all ease-out 150ms 20ms;
            transform: scale(1) rotateY(0);
            opacity: 1;
          }
        }

        &.finished{
          opacity: 0;
          transform: rotateY(90deg) scale(0.5);
          transition: all ease-out 200ms 20ms !important;
        }

        &.delay-1{transition: all ease-out 200ms 20ms;}
        &.delay-2{transition: all ease-out 200ms 120ms;}
        &.delay-3{transition: all ease-out 200ms 220ms;}
        &.delay-4{transition: all ease-out 200ms 320ms;}
        &.delay-5{transition: all ease-out 200ms 420ms;}
        &.delay-6{transition: all ease-out 200ms 520ms;}
        &.delay-7{transition: all ease-out 200ms 620ms;}
      }

      /* Responsive */
      @media #{$information-phone}{
        .target-item{
          margin: 0;
          padding: 4px 0;

          .target-img{
            width: 100%;
            text-align: center;

            img{
              width: 100%;
            }
          }

          .main-img{
            position: absolute;
            background-color: $white;
            top: 19.75%;
            left: 16.3%;
            width: 57%;
            height: 59.5%;
            border-radius: 50%;
            overflow: hidden;
            transform: scale(0.7) rotateY(90deg);
            transition: all ease-in 150ms 20ms;
            opacity: 0;

            img{
              max-width: 100%;
            }
          }

          &.open{
            .main-img{
              transition: all ease-out 150ms 20ms;
              transform: scale(1) rotateY(0);
              opacity: 1;
            }
          }

          &.finished{
            opacity: 0;
            transform: rotateY(90deg);
            transition: all ease-out 200ms 20ms;
          }
        }
      }
    }
  }

  .finish-message{
    &.style-2{
      display: flex;
      flex-direction: column-reverse;

      .main-content{
        position: static;
        padding-top: 120px;
        margin-bottom: -60px;

        /* Responsive */
        @media #{$information-phone}{
          padding-top: 30px;
          margin-bottom: -30px;
        }
      }
    }
  }

  .cta-wrapper{
    margin-top: 50px;
  }
}